a {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 10px 12px;
  border-radius: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  border: 1px solid transparent;
}

a:hover {
  background-color: white;
  color: green;
  transition: 0.5s;
  border: 1px solid green;
}
