<app-landing-page route="/services" imgSrc="/assets/homepage/nurture-wallpaper-2.jpg">
  <main-header>Your trusted marketing partner</main-header>
  <description>We help businesses grow and help startups gain the visibility they need.</description>
</app-landing-page>

<section id="philosophy" class="section-one">
  <h2>Ou<span>r Philosop</span>hy</h2>

  <p>Built on the belief that great ideas deserve to be seen and understood, Nurture combines creative storytelling, strategic marketing,
    and data-driven insight to help businesses and impactful initiatives strengthen their presence and connect with audiences that matter most.</p>
</section>

<section class="section-two">
  <img class="bg" src="/assets/homepage/Social_Media_Marketing_2.webp" alt="">

  <div class="container">
    <div class="card">

      <div class="content">
        <div><img src="/assets/homepage/thinking.svg" alt=""></div>

        <h4>Strategic Thinking</h4>

        <p>We don't just execute; we plan. Every campaign is built on a foundation of deep market analysis and long-term vision.</p>
      </div>
    </div>

    <div class="card">

      <div class="content">
        <div><img src="/assets/homepage/cultural.svg" alt=""></div>

        <h4>Cultural Awareness</h4>

        <p>Understanding the nuance of local and global markets ensure your brand resonates authentically across borders.</p>
      </div>
    </div>

    <div class="card">

      <div class="content">
        <div><img src="/assets/homepage/performance.svg" alt=""></div>

        <h4>Measurable Performance</h4>

        <p>Data drives our decisions. We focus on KPIs that matter, growth, engagement and return on investment.</p>
      </div>
    </div>

  </div>
</section>

<section class="section-three">
  <h5 class="header">WHAT WE DO</h5>

  <h2>Comprehensive Solutions</h2>

  <p>Tailored strategies designed to elevate your brand from every angle.</p>

  <div class="container">
    <div class="box">
      <img src="/assets/homepage/seo.jpg" alt="">

      <h5>SEO Strategy</h5>
      <p>Optimizing your digital presence to ensure you are found by the right people.</p>
    </div>

    <div class="box">
      <img src="/assets/homepage/nurture-social.webp" alt="">

      <h5>Content Creation</h5>
      <p>Compelling storytelling through photography, video and visuals that engage and convert.</p>
    </div>

    <div class="box">
      <img src="/assets/homepage/Growth_2.webp" alt="">

      <h5>Paid Advertisement</h5>
      <p>Targeted campaigns that maximize ROI across digital and traditional channels.</p>
    </div>
  </div>

  <app-shared-button route="/services">Learn more</app-shared-button>
</section>

<section class="section-four">
  <img src="/assets/homepage/nurture-gold-logo.webp" alt="">

  <div class="container">
    <h5>GLOBAL IMPACT</h5>

    <h2>Connecting Markets,<br> Creating Opportunities</h2>

    <p>We specialize in bridging gaps between emerging initiatives and established markets. Our expertise spans across continents, fostering partnerships that drive sustainable development.</p>

    <ul>
      <li>
        <h5>Key Regions</h5>
        <p>Active operations and partnerships in Africa, Europe & beyond</p>
      </li>
      <li>
        <h5>Startup Support</h5>
        <p>Dedicated programs to accelerate growth for startups and emerging business initiatives.</p>
      </li>
      <li>
        <h5>Strategic Partnerships</h5>
        <p>Facilitating high-value connections that expand visibility and open new revenue channels</p>
      </li>
    </ul>
  </div>
</section>

<section class="section-five">
  <em>"Brands deserve to not only be seen but to also be heard, trusted and chosen."</em>

  <div>
    <h5>Rhodalove Aba Baidoo, CEO</h5>
  </div>
</section>

<section class="section-six">
  <h2>Ready To Elevate Your Brand?</h2>

  <p>Let's discuss how we can help you achieve your business goals through strategic marketing and development.</p>

  <app-shared-button route="/get-in-touch" className="secondary">Start a conversation</app-shared-button>
</section>
