<app-landing-page imgSrc="/assets/contact/Nurture-Billboard-Flyer.jpeg" imgSrc1="/assets/contact/Nurture-Billboard-Mobile.jpeg" imgSrc2="/assets/contact/Nurture-Billboard-Tablet.jpeg" className="contact"/>

<section>
  <div>
    <a target="_blank" rel="noopener" href="">
      <img src="/assets/contact/linkedin-color-svgrepo-com.svg" alt="linkedin-icon">
      <h3>nurturemarketing.online</h3>
    </a>
  </div>

  <div>
    <a target="_blank" rel="noopener" href="">
      <img src="/assets/contact/email-opened-svgrepo-com.svg" alt="email-icon">
      <h3>nurturemarketing.online</h3>
    </a>
  </div>

  <div>
    <a target="_blank" rel="noopener" href="https://www.instagram.com/nurturemarketing.online/">
      <img src="/assets/contact/instagram-2-1-logo-svgrepo-com.svg" alt="instagram-icon">
      <h3>nurturemarketing.online</h3>
    </a>
  </div>

  <div>
    <a target="_blank" rel="noopener" href="">
      <img src="/assets/contact/facebook-3-logo-svgrepo-com.svg" alt="facebook-icon">
      <h3>nurturemarketing.online</h3>
    </a>
  </div>

  <div>
    <a target="_blank" rel="noopener" href="">
      <img src="/assets/contact/youtube-style-playback-svgrepo-com.svg" alt="youtube-icon">
      <h3>nurturemarketing.online</h3>
    </a>
  </div>

</section>
