app-navbar {
  position: fixed;
  top: 0;
  z-index: 9;
}

main {
  margin-top: 4rem;
  min-height: calc(100vh - 4rem);
}


@media (max-width: 768px) {
  margin-top: 3rem;
  min-height: calc(100vh - 3rem);
}
