nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  height: 4rem;
  /*border-bottom: 1px solid green;*/
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


img {
  height: 3rem;
  width: 3rem;
  margin: 0 2rem;
  cursor: pointer;
  transform: scale(1.0);
  transition: .3s;
}

img:hover {
  transform: scale(1.05);
  transition: .3s;
}

.links {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
  margin: 0 auto;
  height: 100%;
}

li {
  height: 100%;
  font-size: 0.875rem;
  font-weight: 700;
  position: relative;
}

a {
  display: flex;
  align-items: center;
  height: 100%;
  border-top: 4px solid transparent;
  transition: 0.3s;
  color: green;
}

a:hover {
  border-top: 4px solid green;
  cursor: pointer;
  transition: 0.3s;
}

li:hover {

  div {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
  }
}

li > div {
  width: 100vw;
  position: fixed;
  left: 0;
  height: max-content;
  background-color: white;
  padding-bottom: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

li > div > ul {
  width: max-content;
  margin: 0 auto;

  li {
    width: max-content;
  }

  a {
    border: none;
    border-bottom: 1px solid transparent;
    color: #595959;
    font-size: 0.7rem;
    font-weight: 300;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
  }

  a:hover {
    border: none;
    border-bottom: 1px solid black;
  }
}

.routerLinkActive {
  border-top: 4px solid green;
  transition: 0.3s;
}

.hamburger {
  display: none;
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 2rem;
  color: green;
}

.primary-close {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  top: 1rem;
  right: 1rem;
}





@media (max-width: 1080px) {
  nav {
    height: 3rem;
  }

  .hamburger {
    display: block;
  }

  .links {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.3s;
  }

  img {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
  }

  nav.show {
    .hamburger {
      transform: rotate(45deg);
      transition: .3s;
    }

    .links {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      transition: 0.3s;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      z-index: 9;
      gap: 0;
    }

    a.show + div {
      visibility: visible;
      opacity: 1;
      transition: opacity .3s;
      top: 0;
      height: 100vh;
      width: 100vw;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    li {
      width: 100%;
      height: max-content;
    }

    a {
      padding: 1rem 0;
      width: 100%;
      justify-content: center;
      border: none;
    }

    a:hover {
      background-color: green;
      color: white;
    }

    li > div > ul {
      width: 100%;

      li {
        width: 100%;
      }

      a {
        font-size: 0.875rem;
        font-weight: 700;
        border: none;
      }

      a:hover {
        background-color: black;
        color: white;
        border: none;
      }

      a.routerLinkActive {
        background-color: black;
        color: white;
      }
    }

    /*li:hover { TODO: Bring this back before merging to production*/

    /*  div {*/
    /*    visibility: hidden;*/
    /*    opacity: 0;*/
    /*    transition: opacity .3s;*/
    /*  }*/
    /*}*/


    .routerLinkActive {
      background-color: green;
      color: white;
      border: none;
    }

    .primary-close {
      visibility: visible;
      opacity: 1;
      z-index: 10;
      transition: 0.3s;
      padding: 5px;
      border-radius: 50%;
      cursor: pointer;
    }

    .primary-close:hover {
      background-color: rgba(0, 128, 0, 0.3);
      transition: 0.3s;
    }
  }
}



/*@media (min-width: 769px) and (max-width: 1080px) {*/
/*  .links {*/
/*    gap: 1.5rem;*/
/*  }*/
/*}*/
