nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  height: 4rem;
}

img {
  height: 3rem;
  width: 3rem;
  margin: 0 2rem;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
  margin: 0 auto;
  height: 100%;
}

li {
  height: 100%;
  font-size: 0.875rem;
  font-weight: 700;
}

a {
  display: flex;
  align-items: center;
  height: 100%;
  border-top: 4px solid transparent;
  transition: 0.5s;
  color: green;
}

a:hover {
  border-top: 4px solid green;
  cursor: pointer;
  transition: 0.5s;
}

.routerLinkActive {
  border-top: 4px solid green;
  transition: 0.5s;
}

.hamburger {
  display: none;
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 2rem;
  color: green;
}

svg {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  top: 1rem;
  right: 1rem;
}



@media (max-width: 768px) {
  nav {
    height: 3rem;
  }

  .hamburger {
    display: block;
  }

  ul {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.5s;
  }

  img {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
  }

  nav.show {
    .hamburger {
      transform: rotate(45deg);
      transition: .5s;
    }

    ul {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      transition: 0.5s;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      z-index: 9;
      gap: 0;
    }

    li {
      width: 100%;
      height: max-content;
    }

    a {
      padding: 1rem 0;
      width: 100%;
      justify-content: center;
    }

    a:hover {
      border: none;
      background-color: green;
      color: white;
    }

    .routerLinkActive {
      background-color: green;
      color: white;
      border: none;
    }

    svg {
      visibility: visible;
      opacity: 1;
      z-index: 10;
      transition: 0.5s;
      padding: 5px;
      border-radius: 50%;
      cursor: pointer;
    }

    svg:hover {
      background-color: rgba(0, 128, 0, 0.3);
      transition: 0.5s;
    }
  }
}



@media (min-width: 769px) and (max-width: 1080px) {
  ul {
    gap: 1.5rem;
  }
}
