<footer>
  <ul>
    <li><a>Privacy policy</a></li>
    <li><a>Mission statement</a></li>
    <li><a>Vision statement</a></li>
  </ul>

  <ul>
    <li><a>Privacy policy</a></li>
    <li><a>Mission statement</a></li>
    <li><a>Vision statement</a></li>
  </ul>

  <div class="icons">
    <div>
      <a href=""><img src="/assets/footer/linkedin.svg" alt=""></a>
      <a href=""><img src="/assets/footer/x.svg" alt=""></a>
      <a href=""><img src="/assets/footer/facebook.svg" alt=""></a>
      <a href=""><img src="/assets/footer/instagram.svg" alt=""></a>
    </div>

    <p>&copy; {{currentYear}} Nurture Marketing</p>
  </div>
</footer>
