<footer>
  <ul>
    <li><a>Privacy policy</a></li>
    <li><a>Mission statement</a></li>
    <li><a>Vision statement</a></li>
  </ul>

  <ul>
    <li><a>Search Engine Optimization</a></li>
    <li><a>Paid Advertising </a></li>
    <li><a>Social media accounts management </a></li>
  </ul>

  <div class="icons">
    <div>
      <a href="" target="_blank" rel="noopener"><img src="/assets/footer/linkedin.svg" alt=""></a>
      <a href="" target="_blank" rel="noopener"><img src="/assets/footer/x.svg" alt=""></a>
      <a href="" target="_blank" rel="noopener"><img src="/assets/footer/facebook.svg" alt=""></a>
      <a href="https://www.instagram.com/nurturemarketing.online/" target="_blank" rel="noopener"><img src="/assets/footer/instagram.svg" alt=""></a>
      <a href="" target="_blank" rel="noopener"><img src="/assets/footer/email-icon.svg" alt=""></a>
    </div>

    <p>&copy; {{currentYear}} Nurture Marketing</p>
  </div>
</footer>
